h1, h2, h3, h4, h5, h6,
.text-h1, .text-h2, .text-h3, .text-h4, .text-h5, .text-h6 {
  font-family: 'Plus Jakarta Sans', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

:root {
    --q-background: #f8fafc;
}

body {
    background-color: #f8fafc;
}