$primary: #0f172a;
$secondary: #7096C9;
$accent: #8B5CF6;

// $background: #f8fafc;
// #f8fafc, #7096C9, #8B5CF6, #272E5F

//Pending for defined colors for business logic 
$positive: #10B981;
$negative: #E11D48;
$info: #06B6D4;
$warning: #F59E0B;

$typography-font-family: 'Inter', Helvetica, Arial, sans-serif;