$primary: #0f172a;
$secondary: #0284c7;
$accent: #0ea5e9;
// $background: #f8fafc;

//Pending for defined colors for business logic 
$positive: #85cc41;
$negative: #fe4b26;
$info: #2196f3;
$warning: #ffc700;

$typography-font-family: 'Inter', Helvetica, Arial, sans-serif;
