$primary: #00263e;
$secondary: #00b2e3;
$accent: #ffd066;

$positive: #85cc41;
$negative: #fe4b26;
$info: #2196f3;
$warning: #ffc700;

$typography-font-family: 'Roboto', Helvetica, Arial, sans-serif;
